
body,dd,dl,form,h1,h2,h3,h4,h5,h6,input,ol,p,textarea,ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
    vertical-align: top;
    padding: 0
}

a {
    text-decoration: none;
    outline: 0
}

img {
    border: none;
    vertical-align: top;
    border: 0
}

form,input {
    border: none;
    outline: 0
}

button {
    -webkit-appearance: none;
    outline: 0
}

.clearfix:after {
    content: '';
    display: block;
    clear: both
}

.clearfix {
    zoom: 1
}

.fl {
    float: left
}

.fr {
    float: right
}

body {
    font-size: 12px;
    line-height: 20px;
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    height: 100%;
    color: #333
}
textarea{resize:none}
.gather {
    background: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201604/29/1461919534066_835.png) 0 0 no-repeat;
    background-size: 166px 217.5px;
}

.circle {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../images/gather4.png) 0 0 no-repeat;
    background-size: 80px 120px;
}

.square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 2px 0 0 16px;
    background-size: 332px 435px;
    background-position: -172px -232px
}

.auto {
    margin-top: 3px;
    background-size: 332px 435px;
    background-position: -220px -234px;
    width: 30px;
    height: 15px;
    margin-left: 16px
}

.active .trans-en .sign .circle {
    background-position: 0px -27px;
    background-size: 80px 120px;
    width:26px;
    height: 26px;
}

.active .auto {
    background-position: -121px -233px
}

.active .square {
    background-position: -75px -232px
}

header {
    height: 75px;
    border-bottom: 3px solid #ff2951;
}

.header-content {
    width: 1290px;
    margin: 0 auto;
    padding-top: 10px
}

.header-content .logo {
    display: inline-block;
    width: 166px;
    height: 55px;
    position: relative;
    left: -62px;
    background-position: 0 0
}

.header-content .portrait {
    height: 60px;
    width: 60px;
    border-radius: 50%
}

.header-content .user-name {
    display: inline-block;
    padding: 4px 0 0 13px;
    line-height: 40px;
    color: #666
}

.main {
    margin-top: 90px
}

.main p {
    color: #999;
    text-align: center;
    font-size: 16px
}

.main .codeWrap {
    margin: 45px auto 60px auto;
    text-align: center
}

.main .codeWrap .code {
    width: 224px;
    height: 224px
}

.trans-main {
    width: 1190px;
    margin: 0 auto
}

.trans-left {
    box-sizing: border-box;
    width: 40%;
    padding: 10px 20px 60px 0
}

.trans-right {
    box-sizing: border-box;
    border-left:1px solid #6d7468;
    width:60%;
    height: 655px;
    position: relative;
    overflow: hidden;
}

.listWrap {
    position: relative;
    overflow: hidden;
    height: 100%
}

.barWrap {
    position: absolute;
    top: 0;
    right: -12px;
    width: 3px
}

.bar {
    background: #e0e0e0
}

.trans-left .video-wrap {
    width: 100%;
    height: 252px;
    background: #000;
    position: relative;
    overflow: hidden;
}

.video-wrap video {
    width: 100%;
    height: 100%;
    display: none
}

.video-wrap img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.video-wrap .video-trigger {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100
}

.play-btn {
    border: none;
    background-position: 0 -155px;
    width: 62px;
    height: 62px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -31px 0 0 -31px;
    cursor: pointer
}

.video-wrap .playbtn button {
    background-position: 0 -155px
}

.video-wrap .pausebtn button {
    background-position: -77px -155px
}
.loading{display:none;width:62px;height:62px;position: absolute;top:50%;left:50%;margin:-31px 0 0 -31px;background: url(../images/loading-icon.gif);background-size: 63px 62px} 
.video-wrap .playbtn .loading, .video-wrap .pausebtn .loading{display: none;}
.video-wrap .loadbtn .loading{display: block}
.video-wrap .loadbtn  button{display: none;}
.video-wrap .video-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #9F9393;
    opacity: .3
}

.module {
    padding-top: 12px
}

.instruction dd {
    padding-left: 12px
}

.m-content h3 {
    color: #666;
    font-weight: 400
}

.instruction dt,.m-title {
    border-left: 3px solid #ff2951;
    font-size: 14px;
    text-indent: 8px;
    color: #000;
    height: 12px;
    line-height: 12px;
    margin-bottom: 10px
}

.video-data {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin: 15px 0
}

.progress,.sentence,.times {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1
}

.progress div.circle {
    background-position: 0px 0px;
}

.sentence div.circle {
    background-position: -28px 0px;
}

.times div.circle {
    background-position: -56px 0px
}

.video-data .data {
    color: #666;
    padding-left: 10px
}

.video-source {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 80px;
    padding: 4px 0;
    display: flex;
    flex-flow: row
}

.video-source .teacher,.video-source .unit {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1
}

.video-source .unit {
    border-right: 1px solid #ccc;
    padding: 8px 0 0 65px;
    position: relative
}

.video-source .unit img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 13px
}

.video-source .unit span {
    display: inline-block;
    padding: 20px 0 0 10px;
    color: #666;
    line-height: 18px
}

.video-source .teacher {
    padding: 10px 0 0 70px;
    position: relative
}

.video-source .teacher img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px
}

.teacher-info {
    padding-top: 8px
}

.teacher-info .name {
    color: #666;
    font-size: 14px
}

.teacher-info .rank {
    color: #999;
    font-size: 12px;
    padding-top: 4px
}

.list li {
    padding: 10px 20px 10px 10px;
    background: #f8f8f8;
    height: 110px;
    overflow: hidden;
    border-bottom: 1px solid #666;
    display: flex;
    flex-flow: row
}

.list li.active {
    background: #fff
}

.list .trans-ch textarea,.list .trans-en textarea,.list li .en-txt {
    overflow-x: hidden;
    word-wrap: break-word;
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 86px;
    border: 1px dashed transparent;
    padding: 3px 10px 3px 10px;
    color: #666;
    line-height: 18px;
    font-size: 14px;
    font-family: proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;
    white-space:normal;
}

.list li .en-txt:hover {
    border-color: #989898;
}

.list li .en-error {
    border:1px solid #ff2951;
}
.list li .en-error:hover{
    border:1px solid #ff2951;
}
.list .trans-en textarea {
    display: none;
    border: 1px solid #989898;
}

.list .trans-ch textarea {
    border: 1px solid #989898
}

.trans-ch,.trans-en {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1
}

.trans-en {
    padding-right: 20px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box
}

.trans-ch {
    padding-left: 10px
}

.list .sign {
    padding: 0 0 3px 10px
}

.trans-ch .sign div.circle {
    background-position: -28px -56px
}

.active .trans-ch .sign div.circle {
    background-position: -28px -28px
}

.trans-en .sign div.circle {
    background-position: 0 -56px;
    background-size: 80px 120px;
}

.dur-time {
    padding-left: 15px;
    color: #adadad;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.inputArea {
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    height: 60px;
    padding: 0 0 0 8px;
    overflow-y: auto
}

.list .active .dur-time {
    color: #ff1440
}

.trans-right:-webkit-scrollbar {
    height: 3px
}

.trans-right .trans-right:-webkit-scrollbar-track {
    background: red
}

.trans-right:-webkit-scrollbar-thumb {
    background: #ebebeb
}

.mCSB_draggerContainer {
    width: 3px
}

.mCSB_draggerRail {
    width: 6px
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ebebeb
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff
}

.mCSB_inside>.mCSB_container {
    margin-right: 14px
}

.bg-mask {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #C1BABA;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 100
}

.bg-note {
    position: absolute;
    z-index: 110;
    top: 45%;
    left: 50%;
    width: 200px;
    display: none;
    background-color: #725252;
    height: 100px
}
/*页尾样式 */
footer{
    width: 1290px;
    height: 50px;
    position: relative;
    border-top: 1px solid #ff2951;
    top: 40px;
    margin: 0 auto;
}
footer .copyright{
    padding: 15px 0 25px;
    text-align: center;
    color: #6D7273;
    font-size: 12px;
}
@media screen and (max-width:1500px) {
    .header-content,.trans-main,footer{
        width: 1000px;
    }
}
.layer-shade {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    z-index: 1000;
    background-color: #000;
    opacity: .3;
    filter: alpha(opacity=30)
}

.layui-layer {
    display: block;
    width: 307px;
    margin: -74.5px 0 0 -130px;
    position: fixed;
    top: 50%;
    left: 50%;
    pointer-events: auto;
    border-radius: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    z-index: 1001
}

.layui-layer-title {
    background: #ff2951;
    color: #fff;
    border: 0;
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px 2px 0 0
}

.layui-layer-content {
    color: #333;
    position: relative;
    padding: 20px;
    line-height: 24px;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
    overflow: auto
}

.layui-layer-btn {
    text-align: right;
    padding: 0 10px 12px;
    pointer-events: auto
}

.layui-layer-btn0 {
    display: inline-block;
    vertical-align: top;
    height: 28px;
    line-height: 28px;
    margin: 0 6px;
    padding: 0 15px;
    border: 1px #dedede solid;
    background-color: #ff2951;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px
}

.layui-layer-btn a:hover {
    opacity: .9;
    text-decoration: none
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.layer-anim {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn
}

@-webkit-keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }

    30% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7)
    }

    30% {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03)
    }

    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

/*滚动条自定义样式*/
::-webkit-scrollbar {
    width: 2px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFF;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

/********************时间轴制作页面css add by hongqx******************/
.right-top{
   height: 250px;
}

.tranlist {
    position:relative;
    overflow: hidden;
    height: 450px;
}
.sublist li {
    /*padding: 10px 20px 10px 10px;*/
    position: relative;
    background: #ededed;
    height: 150px;
    overflow: hidden;
    /*border-bottom: 1px solid #666;*/
    display: flex;
    flex-flow: row;
}
.sublist li:link,.sublist li:visited{
   background: #ededed;
}

.sublist li.active .start-time{
    color : #ff1440;
}

.sublist li:hover{
    background: #fff;
} 
.sublist li:hover .txt{
    border:1px dashed #666;
    cursor:pointer;
}  
.sublist li:active{
    background: #ededed;
}

.sublist li.active {
    background: #fff;
}
.sublist .subtitle{
    margin: 10px 10px 10px 10px;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    padding: 0 10px;
}

.sublist .buttomline {
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: #c3c3c3;

}
.subtitle .subspan{
    position: relative;
    padding: 3px 0;
}
.subspan span{
    color: #adadad;
    line-height: 14px;
    font-size: 12px;
    position: relative;
    top: 2px;
    margin-right:10px;
}

.wps-span, .seconds-span, .word-span{
    /*margin-right:10px;*/
}
.subspan .red-span{
    color : #ff1440;
}

.subspan .delete-icon{
   position: absolute;
   right: 0;
   height: 14px;
   width: 14px;
   border:1px solid #c3c3c3;
   overflow:hidden;
   border-radius:50%;
   padding-left:1px;
   margin-right:0;
   font-size: 13px;
   display: none;
}

.sublist li.active .delete-icon{
    display: block;
}

.sublist li:hover .delete-icon{
    display: block;
}

.sublist .subtitle .sub-content{
    /*display: table*/;
    display: block;
    width:100%;
}
.subtitle .sub-content .txt , .subtitle .sub-content textarea{
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    padding: 3px 10px 3px 10px;
    color: #666;
    line-height: 18px;
    font-size: 14px;
    font-family: proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;
    white-space:normal;
   /* display: table-cell;
    vertical-align: middle;*/
}

.sublist .subtitle textarea{
    display:none;
}

.sublist li.active textarea{
    display: block;
}
.sublist li.active .txt{
    display: none;
}
